<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="assets/images/spotify.svg" alt="Spotify Logo" width="60" height="60" class="d-inline-block align-text-top me-lg-2">
    <h1 class="text-light me-lg-2 heading-font">Spot New Music</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort Artists
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alphabetically</a></li>
            <li><a class="dropdown-item" href="#">By Popularity</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>