<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img 
      class="d-inline-block align-text-top me-lg-2"
      src="{{spotifyAccessTokenGranted ? 'assets/images/spotify.svg' : 'assets/images/spotify-access-denied.svg'}}"
      alt="Spotify Logo"
      width="60"
      height="60">
    <h1 class="text-light me-lg-2 heading-font">Spot New Music</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Artists
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="form-check form-switch ms-3">
                <input 
                  class="form-check-input me-auto"
                  type="checkbox"
                  role="switch"
                  id="showArtistDetailsOveraly"
                  [(ngModel)]="showArtistDetails">
                <label class="form-check-label" for="showArtistDetailsOveraly">Artist Details</label>
              </div>
            </li>
            <li><a class="dropdown-item disabled" href="#">Sort Alphabetically</a></li>
            <li><a class="dropdown-item disabled" href="#">Sort By Popularity</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>