/* Template rows */

.row-artist {
  margin-bottom: 10px;
}

/* Artist */

.myImg {
  width: 200px;
  height: 200px;
}


.imagebox {
  background: #343a40;
  /*background: pink;*/
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: center;  
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
  border-radius: 50%;
  /*width: 100%;*/
}

.imagebox:hover img {
  opacity: 0.5;
}

.imagebox-artistName {
  opacity: 0;
  background-color: #343a40;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: white;
  font-size: 2em;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.imagebox:hover .imagebox-artistName {
  padding-top: 5%;
  opacity: 0.9;
}

.imagebox-artistDesc {
  opacity: 0;
  background-color: #343a40;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: whitesmoke;
  font-size: 0.8em;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.imagebox:hover .imagebox-artistDesc {
  padding-bottom: 10%;
  opacity: 0.8;
}
