/* Template rows */

.row-artist {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Artist */

.image {
  width: 200px;
  height: 200px;  
}

.largeImage {
  width: 250px;
  height: 250px;  
}

.imageBox {
  background: #343a40;  
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: center;  
}

.imageBox img {
  opacity: 1;
  transition: 0.5s opacity;
  border-radius: 50%;
}

.imageBox:hover img {
  opacity: 0.5;
}

.artistName {
  opacity: 0;
  background-color: #343a40;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: white;
  font-size: 2em;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.imageBox:hover .artistName {
  padding-top: 5%;
  opacity: 0.9;
}

.artistDesc {
  opacity: 0;
  background-color: #343a40;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: whitesmoke;
  font-size: 0.8em;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.imageBox:hover .artistDesc {
  padding-bottom: 10%;
  opacity: 0.8;
}
