.row-searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchbar {
  border-radius: 30px;
  border-color: green;
  border-style: solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/*.searchbar-input {
  border-radius: 10px;
  border: 0;
  outline: 0;
  color: white;
  background: none;
  caret-color: green;
  text-align: center;
  font-size: 2vw;  
  flex: 0 90%;
}*/

.searchbar-icon {
  border-radius: 10px;
  color: green;
  font-size: 2vw;
  float: right;
  justify-content: center;
  align-items: center;
  display: flex;  
  flex: 0 10%;
  cursor: pointer;
}

/* clears the input field 'X' button from Internet Explorer */
/* input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; } */

/* clears the input field  'X' button from Chrome */
/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; } */

/* *::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
html,
body {
  height: calc(100% + 1px)
}
body {
  font: 100% 'Arimo', sans-serif;
} */

.search-wrapper,
.search-input-div {
  display: flex;
  /* justify-content: center; this displays search bar in vertical center of page */ 
}

.search-wrapper {
  /* min-height: 100%; this grows the search bar green section to the height of the results panel */ 
  flex-flow: column wrap;
  position: relative;
}

.search-input-div {
  width: 100%;
  position: relative;
}

#search-input {
  /*border: 1px solid #ccc;*/
  /*padding: 10px;*/
  /*font: 1.5em 'Arimo', sans-serif;*/
  /*width: 100%;*/
  /*outline: none;*/
  /*transition: border 0.5s ease-in-out;*/
  border-radius: 10px;
  border: 0;
  outline: 0;
  color: white;
  background: none;
  caret-color: green;
  text-align: center;
  font-size: 2vw;  
  flex: 0 90%;
}

#search-input:focus {
  border-color : rgba(81, 203, 238, 1);;
}

/* NOT USED? */
/* #search-input-button {
  position: absolute;
  right: 26%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7em;
  color: #8DB9ED
} */

/* NOT USED? */
/* #search-input-button:hover {
  color: #ccc
} */

.results-list {
  width: 100%;
  list-style: none;
  font-size: 1.1em;
  color: rgb(105, 105, 105);
  border: 1.5px solid green; /* #ccc */
  /*border-top: none;*/
  border-left: none;
  border-right: none;
  border-bottom: none;
  /*so things don't jump around*/
  /*position: absolute; this part seems to center the results list vertical and horizontal on page */
  /*left: 25%;*/
  /*top: calc(50% + 25px);*/
  /*max-height: calc(50% - 15px);*/
  overflow-y: auto;
  background: none; /*#fff - the old white background */
}

.results-list-item img {
  margin-right: 30px;
}

.genres {
  font-size: 12px;
  font-style: italic;
  color: #c6c6c6;
  margin-right: 10px;
  /*position: relative; this part seems to run the genres list over the artist name */
  top: -10px;
}

.results-list-item:hover .tags {
  color: #fff;
}

.results-list-item {
  cursor: pointer;
  padding: 5px 10px;
}

.artist-name {
  display: inline-block;
  position: absolute;
}

.results-list-item:hover {
  background:  #C0C0C0;
  color: #fff
}

/* NOT USED? */
/* .list-highlight,
.list-highlight:hover {
  background: rgb(55, 55, 55);
  color: #fff
} */

/* ARE THESE PARTS REQUIRED? */
/*@media only screen and (max-width: 768px) {
  .filter-select,
  #keyword {
    width: 80%;
  }
  #keyword {
    font-size: 1.3em
  }
  .filter-select {
    font-size: 0.9em;
    left: 10%;
    top: calc(50% + 23px);
  }
  #keyword-button {
    right: 11%
  }
}*/

/* @media only screen and (max-width: 480px) {
  .filter-select,
  #keyword {
    width: 95%;
  }
  .filter-select {
    left: 2.5%;
  }
  #keyword-button {
    right: 3.5%
  }
} */
