/* Template rows */

.row-searchBar {
  margin-bottom: 10px;
}

.row-selectedArtist {
  margin-bottom: 10px;
}

/* Search text box */

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;    
    border-radius: 30px;
    border-color: green;
    border-style: solid;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    line-height: 40px;
    padding: 0 10px;
    caret-color:green;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:green;
}

/* legacy expandable search box */

/* .searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color:green;
    transition: width 0.4s linear;
} */

/* .searchbar:hover > .search_icon {
    background: #343a40;
    color: green;
} */

/* Selected artist */

.imagebox {
  background: #343a40;
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: center;  
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
  border-radius: 50%;
  width: 100%;
}

.imagebox:hover img {
  opacity: 0.5;
}

.imagebox-artistName {
  opacity: 0;
  background-color: #343a40;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: white;
  font-size: 2em;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.imagebox:hover .imagebox-artistName {
  padding-top: 5%;
  opacity: 0.9;
}

.imagebox-artistDesc {
  opacity: 0;
  background-color: #343a40;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: whitesmoke;
  font-size: 0.8em;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
}

.imagebox:hover .imagebox-artistDesc {
  padding-bottom: 10%;
  opacity: 0.8;
}
