<!--Artist search bar-->
<div class="row row-searchBar">        
    <div class="col-3 mtb-2"></div>
    <div class="col-6 mtb-2">
        <div class="search-wrapper searchbar">
                <div class="search-input-div">
                    <input [formControl]="searchInput"
                        type="text"
                        id="search-input"
                        #searchArtistsInput (keyup.enter)="onSearchArtistsEnterKeyPress(searchArtistsInput.value)"
                        placeholder="Search for artists..."
                        aria-label="Search artists"
                        value="{{artistSearchString}}"                            
                        [disabled]='!spotifyAccessTokenGranted'
                        autofocus />
                    <div class="searchbar-icon fas fa-search"
                        (click)='onSearchArtistsEnterKeyPress(searchArtistsInput.value)'>
                    </div>
                </div>
                <ul *ngIf='artistSearchResults.length' class="results-list">
                    <li *ngFor="let artistSearchResult of artistSearchResults" class="results-list-item" (click)="onSearchArtistsEnterKeyPress(artistSearchResult.name)">
                        <img src="{{artistSearchResult.images['2']?.url}}" alt="" width="50" height="50">
                        <p class="artist-name">
                            {{artistSearchResult.name}}
                        </p>
                        <span class="genres" *ngFor='let genre of artistSearchResult?.genres | slice:0:3'>
                            {{genre}}
                        </span>
                    </li>                    
                </ul>                
        </div>
                        
        <!-- <div class="searchbar">                
            <input class="searchbar-input"
                    type="search"
                    name="q"
                    #searchArtistsInput (keyup.enter)="onSearchArtistsEnterKeyPress(searchArtistsInput.value)"
                    placeholder="Search artists..."
                    aria-label="Search artists"
                    value="{{artistSearchString}}"
                    [disabled]='!spotifyAccessTokenGranted'>            
            <div class="searchbar-icon fas fa-search"
                 (click)='onSearchArtistsEnterKeyPress(searchArtistsInput.value)'>
            </div>
        </div> -->
    </div>
    <div class="col-3 mtb-2"></div>
</div>

<!--Selected Artist-->
<div class="row">
    <div class="col-12 mtb-2 d-flex justify-content-center">
        <app-artist [artist]='selectedArtist' [showLargeArtistImage]='true'></app-artist>        
    </div>    
</div>

<!--Related Artists-->
<div class="row">
    <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2" *ngFor='let relatedArtist of relatedArtists'>
        <app-artist [artist]='relatedArtist' (notifyArtistClicked)='onRelatedArtistClickedEvent($event)'></app-artist>
    </div>
</div>