<!--Artist search bar-->
<div class="row row-searchBar">
    <div class="col-3 mtb-2"></div>
    <div class="col-6 mtb-2">        
        <div class="searchbar">                
            <input class="searchbar-input"
                    type="search"
                    name="q"
                    #searchArtistsInput (keyup.enter)="onSearchArtistsEnterKeyPress(searchArtistsInput.value)"
                    placeholder="Search artists..."
                    aria-label="Search artists"
                    value="{{artistSearchString}}"
                    [disabled]='!spotifyAccessTokenGranted'>            
            <div class="searchbar-icon fas fa-search"
                 (click)='onSearchArtistsEnterKeyPress(searchArtistsInput.value)'>
            </div>
        </div>       
    </div>
    <div class="col-3 mtb-2"></div>
</div>

<!--Selected Artist-->
<div class="row">
    <div class="col-12 mtb-2 d-flex justify-content-center">
        <app-artist [artist]='selectedArtist' [showLargeArtistImage]='true'></app-artist>        
    </div>    
</div>

<!--Related Artists-->
<div class="row">
    <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2" *ngFor='let relatedArtist of relatedArtists'>
        <app-artist [artist]='relatedArtist' (notifyArtistClicked)='onNotifyArtistClicked($event)'></app-artist>
    </div>
</div>
