<div class="container-fluid h-100 app-component-container">
  <div class="row h-100">
    <div class="col-12 d-flex flex-column h-100 app-component-column">
      <div class="row session-component-selector">
        <div class="col-12">
            <app-session></app-session>
        </div>        
      </div>
      <div class="row artist-search-component-selector">
        <div class="col-12">
          <app-artist-search></app-artist-search>
        </div>
      </div>      
    </div>
  </div>    
</div>

<router-outlet></router-outlet>
