@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.main-row {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.large-artist-image-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 5%;
}

.large-artist-image {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 5%;
  opacity: 0.3;
}

.large-artist-details {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 5%;
  color: white;
  text-align: center;
  opacity: 1;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.large-artist-name {
  font-size: $h3-font-size;
}

.artist-image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.artist-image {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5%;
  opacity: 0.3;
}

.artist-details {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5%;
  color: white;
  text-align: center;
  opacity: 1;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.artist-name {
  font-size: $h4-font-size;
}

@include media-breakpoint-up(lg) {
  .large-artist-image {
    opacity: 1;
    transition: 0.5s opacity;
  }

  .large-artist-details {
    opacity: 0;
    transition: 0.5s padding;
  }
  
  .large-artist-image-wrapper:hover .large-artist-image {
    opacity: 0.3;
  }
  
  .large-artist-image-wrapper:hover .large-artist-details {
    opacity: 1;
  }

  .artist-image {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
  .artist-details {
    opacity: 0;
    transition: 0.5s padding;
  }

  .artist-image-wrapper:hover .artist-image {
    opacity: 0.3;
  }
  
  .artist-image-wrapper:hover .artist-details {
    opacity: 1;
  }
}
