@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.main-row {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.artist-image-wrapper-common {
  border-radius: 5%;
  position: relative;
}

.large-artist-image-wrapper {
  @extend .artist-image-wrapper-common;
  width: 250px;
  height: 250px;
}

.artist-image-wrapper {
  @extend .artist-image-wrapper-common;
  width: 200px;
  height: 200px;
}

.artist-image-transparant {
  opacity: 0.3;
}

.artist-image-visible {
  opacity: 1;
}

.artist-image-common {
  @extend .artist-image-visible;
  border-radius: 5%;
  position: absolute;
}

.large-artist-image {
  @extend .artist-image-common;
  width: 250px;
  height: 250px;
}

.artist-image {
  @extend .artist-image-common;
  width: 200px;
  height: 200px;
}

.artist-details-hidden {
  opacity: 0;
}

.artist-details-visible {
  opacity: 1;
}

.artist-details-common {
  @extend .artist-details-hidden;
  border-radius: 5%;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.large-artist-details {
  @extend .artist-details-common;
  width: 250px;
  height: 250px;
}

.artist-details {
  @extend .artist-details-common;
  width: 200px;
  height: 200px;
}

.large-artist-name {
  font-size: $h3-font-size;
}

.artist-name {
  font-size: $h4-font-size;
}

/* Mouse hover opacity changes for large screens and above */
@include media-breakpoint-up(lg) {
  .artist-image-common {
    transition: 0.5s opacity;
  }

  .artist-details-common {
    transition: 0.5s padding;
  }

  .artist-image-wrapper-common:hover .artist-image-common {
    opacity: 0.3;
  }

  .artist-image-wrapper-common:hover .artist-details-common {
    opacity: 1;
  }
}
